# Build artifacts
build/
*.o
*.a
*.so
*.dll

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
CPackConfig.cmake
CPackSourceConfig.cmake

# IDE-specific files
.vscode/
.idea/
